* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../../imagens/fundo-modal.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.modal {
    display: flex;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(4px);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal-conteudo {
    background: #ffffff;
    width: 550px;
    max-width: 90%;
    padding: 60px;
    border-radius: 20px;
    position: relative;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
    animation: aparecer 0.25s ease;
    font-family: 'Open Sans', sans-serif;
}

.modal-conteudo h2 {
    margin-bottom: 15px;
    color: #14C204;
    font-size: 28px;
    text-align: center;
    margin-bottom: 30px;
}

.fechar {
    position: absolute;
    top: 15px;
    right: 20px;
    border: none;
    background: none;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    color: #333;
}

.fechar:hover {
    color: #14C204;
}

.dominio-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 5px;
    width: 100%;
    transition: 0.3s ease;
}

.dominio-item {
    background-color: #eff1f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 22px;
    border-radius: 18px;
    transition: 0.3s ease;
}

.dominio-url {
    font-size: 21px;
    font-weight: 500;
    color: #333;
}

.dominio-status-box {
    display: flex;
    align-items: center;
    gap: 12px;
}

.badge-ativo {
    background-color: #349e43;
    color: #ffffff;
    font-size: 11px;
    font-weight: 700;
    padding: 6px 14px;
    border-radius: 20px;
}

.dominio-data {
    font-size: 15px;
    color: #555;
    line-height: 1.2;
    text-align: left;
    white-space: nowrap;
}

.dominio-footer {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.btn-config-dns {
    background: transparent;
    border: 2px solid #349e43;
    color: #349e43;
    padding: 10px 40px;
    border-radius: 35px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.btn-config-dns:hover {
    background-color: #277e34;
    color: #ffffff;
}

.dominio-item:hover{
    transform: scale(1.02);
    box-shadow: 0 4px 12px rgba(39, 126, 52, 0.945);
    cursor: pointer;
}

