* {        
    margin: 0;
    padding: 0;        
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    background-image: url("../../../imagens/fundo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: auto;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 65px;
    padding-right: 65px;
}

header img {
    height: 60px;
    width: auto;
    display: block;
    transition: transform 0.3s ease;
}

header img:hover {
    transform: scale(1.02);
}

nav a {
    padding: 0px 15px;
    text-decoration: none;
}

nav a span {
    color: #14C204;
    text-transform: uppercase;
    font-size: 16px;
    transition: color 0.2s ease;
}

nav span:hover {
    color: #f5f5f5;
    border-bottom: 2px solid #14c204;
}

.perfil-faixa{
    display: flex;
    height: 260px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 65px;
}

.perfil-banner{
    width: 100%;
    height: 240px; 
    ;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
}

.overlay {
    background: linear-gradient(to right, rgb(0,0,0), transparent);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 50px;
}

.perfil-avatar {
    width: 192px;
    height: 192px;
    border-radius: 50%;
    overflow: hidden;
}

.perfil-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.perfil-name {
    margin-left: 80px;
    margin-top: 30px;
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
}

.perfil-name h2 {
    margin: 0;
    color: #f5f5f5;
    font-size: 30.8px;
}

.perfil-name p {
    margin-top: -5px;
    color: #14C204;
    font-size: 42.6px;
}

.linha-gradiente {
    height: 4px;
    border: none;
    background-color: #14C204;
    margin: auto;
}

.linha-gradiente2 {
    height: 2px;
    border: none;
    background-color: #14C204;
    margin: auto;
}

.grid-opcoes {
    display: flex;              
    justify-content: center;   
    gap: 60px;                  
    margin-bottom: 2rem;
    margin-top: 190px;          
}

.opcao-card {
    background-color: #f5f6f8; 
    border-radius: 35px; 
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Open Sans', sans-serif; 
    box-shadow: 10px 10px 0px #186a29;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    display: flex;
    flex-direction: column;
    height: 333px;
    width: 298px;
}

.opcao-card:hover {
    transform: scale(1.05);
    outline: none;
    box-shadow: 0 0 20px #14C204;
}

.card-label {
    color: #31c441; 
    font-size: 28px;
    font-weight: 800;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

.header-main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px; 
    margin-bottom: 10px;
}


.number {
    font-size: 80px;
    font-weight: 900;
    color: #000;
    line-height: 1; 
    margin-right: 20px;
}

.icon{
    width: 65px; 
    height: auto;
}

.updates-text {
    font-size: 20px;
    font-weight: 700;
    color: #000;
    margin-bottom: 20px;
}

.action-button {
    background-color: #349e43;
    color: #ffffff;
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
    padding: 12px 60px;
    border-radius: 50px; 
    margin-bottom: 25px;
    transition: background-color 0.2s ease;
}

.action-button:hover {
    background-color: #277e34;
}

.footer-text {
    font-size: 14px;
    color: #000;
}