* {        
    margin: 0;
    padding: 0;        
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
}

header {
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: auto;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 65px;
    padding-right: 65px;
}

header img {
    height: 60px;
    width: auto;
    display: block;
    transition: transform 0.3s ease;
}

header img:hover {
    transform: scale(1.02);
}

nav a {
    padding: 0px 15px;
    text-decoration: none;
}

nav a span {
    color: #14C204;
    text-transform: uppercase;
    font-size: 16px;
    transition: color 0.2s ease;
}

nav span:hover {
    color: #f5f5f5;
    border-bottom: 2px solid #14c204;
}

.perfil-faixa{
    display: flex;
    height: 260px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 65px;
}

.perfil-banner{
    width: 100%;
    height: 240px; 
    background-image: url("../../../imagens/fundo-logo2.png");
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
}

.overlay {
    background: linear-gradient(to right, rgb(0,0,0), transparent);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 50px;
}

.perfil-avatar {
    width: 192px;
    height: 192px;
    border-radius: 50%;
    overflow: hidden;
}

.perfil-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.perfil-name {
    margin-left: 80px;
    margin-top: 30px;
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
}

.perfil-name h2 {
    margin: 0;
    color: #f5f5f5;
}

.perfil-name p {
    margin-top: -5px;
    color: #14C204;
    font-size: 40px;
}

.linha-gradiente {
    height: 4px;
    border: none;
    background-color: #14C204;
    margin: auto;
}

.linha-gradiente2 {
    height: 2px;
    border: none;
    background-color: #14C204;
    margin: auto;
}