    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        background-color: #FEF9E7;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://img.freepik.com/vetores-gratis/tecnologia-abstrata-fundo-verde_1035-17926.jpg");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        font-family: Arial, Helvetica, sans-serif;  
    }

    header {
        background-color: rgb(0, 0, 0);
        color: white;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        width: auto;
        height: 85px;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        justify-content: space-between;
        padding-left: 65px;
        padding-right: 65px;
        font-weight: 600;
        border-bottom: 1px solid #14c204;
    }

    header img {
        height: 60px;
        width: auto;
        display: block;
        transition: transform 0.3s ease;
    }

    header img:hover {
        transform: scale(1.02);
    }

    nav a {
        padding: 0px 15px;
        text-decoration: none;
    }

    nav a span {
        color: #14C204;
        text-transform: uppercase;
        font-size: 16px;
        transition: color 0.2s ease;
    }

    nav span:hover {
        color: #f5f5f5;
        border-bottom: 2px solid #14c204;
    }

    .selected {
        color: #f5f5f5;
        border-bottom: 2px solid #14C204;
    }

    .cssbuttons-io-button {
        display: inline-flex;
        align-items: center;
        font-family: inherit;
        cursor: pointer;
        font-weight: 600;
        font-size: 16px;
        padding: 0.7em 1.4em 0.7em 1.1em;
        color: white;
        background: linear-gradient(0deg, #14a73e 0%, #14c204 100%);
        border: none;
        letter-spacing: 0.05em;
        border-radius: 20em;
        transition: all 0.3s ease;
    }

    .cssbuttons-io-button svg {
        margin-right: 6px;
    }

    .cssbuttons-io-button:hover {
        box-shadow: 0 0.5em 1.5em -0.5em #14a73e;
        transform: scale(1.05);
    }

    .cssbuttons-io-button:active {
        box-shadow: 0 0.3em 1em -0.5em #14a73e98;
    }

    nav a.cssbuttons-io-button span {
        color: #f5f5f5;
        text-transform: none;
        border-bottom: none;
        text-transform: uppercase;
    }

    main {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem;
    }

    .container-contato {
        background-color: #14c204;
        width: 100%;
        max-width: 900px;
        border-radius: 15px;
        box-shadow: 5px 10px 30px rgba(91, 236, 115, 0.7);
        overflow: hidden;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .info-contato {
        background-color: #000000;
        color: #FEF9E7;
        padding: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .info-contato h2 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .item-dado {
        display: flex;
        align-items: center;
        margin-bottom: 1.5rem;
        gap: 15px;
    }

    .icone {
        width: 20px;
        height: auto;
        vertical-align: middle;
        margin-right: 10px;
        -webkit-user-select: none;
        user-select: none;
    }

    .mapa {
        width: 100%;
        height: 200px;
        border-radius: 10px;
        overflow: hidden;
        border: 2px solid;
        margin-top: 1rem;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }

    .mapa iframe {
        display: block;
        width: 100%;
        height: 100%;
    }

    .form-contato {
        padding: 3rem;
    }

    .form-contato h3 {
        color: #000000;
        font-size: 1.8rem;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-bottom: 1.5rem;
    }

    .grupo-input {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
    }

    .grupo-input label {
        font-weight: bold;
        color: #000000;
        margin-bottom: 5px;
        font-size: 0.9rem;
    }

    .grupo-input input,
    .grupo-input select,
    .grupo-input textarea {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-family: inherit;
        background-color: #fff;
        resize: none;
    }

    .grupo-input input:focus,
    .grupo-input textarea:focus {
        outline: none;
        border-color: #000000;
        box-shadow: 0 0 5px #f5f5f5;
    }

    .btn-enviar {
        width: 100%;
        padding: 12px;
        background-color: #000000;
        color: white;
        border: none;
        border-radius: 5px;
        font-weight: bold;
        cursor: pointer;
        transition: 0.3s;
        font-size: 1rem;
    }

    .btn-enviar:hover {
        background-color: #222422;
    }