* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f5f5f5;
    font-family: sans-serif;
}

.membros{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.membrosIndividual{
    background-color: #14c204;
    width: 250px;
    height: 350px;
    border-radius: 20px;
    text-align: center ;
    margin-top: 15px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 15px;
    box-shadow: 10px 10px 10px rgb(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.membrosIndividual:hover{
    transform: scale(1.05);
}

.membrosIndividual img{
    width: 200px;
    height: 200px;  
    margin: 20px;
    border-radius: 100px;
}

.cardMembros{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
}

.cardMembros p{
    font-size: 20px;
}

footer{
    background-color: black;
    height: 200px;
    color: #f5f5f5;
}

.barraSuperior{
    background-color: black;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #14c204;
}   

.barraSuperior img{
    width: 100px;
    height: 50px;
}

.linha{
    width: 90%;
    height: 2px;
    background-color: #14c204;
    margin: 20px 0;
}

.linhaFooter{
    width: 2px;
    height: 120px;
    background-color: #14c204;
    margin: 20px auto;
}

.barraInferior{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.parteFooter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.parteFooter h3{
    color: #14c204;
}

.parteFooter a{
    color: #f5f5f5;
    text-decoration: none;
}